// Uplink card

$card-width: 85.6mm;
$card-height: 54mm;
$card-radii: 3.175mm;
$card-inner-padding: 22px;

.card-perspective {
  width: $card-width;
  height: $card-height;
  perspective: 1000px;
}

.card {
  $self: &;
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.25s transform $easing-standard;
  transform-style: preserve-3d;
  outline: none; // TODO Bad for accessibility; better solution? http://www.outlinenone.com

  &__front,
  &__back {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $card-radii;
    background: white;
    backface-visibility: hidden;
    box-shadow: 0 10px 20px rgba(40, 51, 75, 0.45);
  }

  &__front {
    z-index: 2;
    background-repeat: no-repeat;
    background-clip: border-box;
    transition: 0.2s box-shadow, 0.2s transform, 0.2s opacity;
    transition-timing-function: $easing-standard;

    &.card--selectable {
      cursor: pointer;

      &:hover {
        transform: translateY(-6px) scale(1.02);
        box-shadow: 0 10px 20px 4px rgba(40, 51, 75, 0.25);
      }
    }

    &.card--selected {
      box-shadow: 0 6px 12px rgba(40, 51, 75, 0.3);
      opacity: 0.7;
    }

    &__balance {
      position: absolute;
      right: $card-inner-padding;
      top: $card-inner-padding;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-end;
    }

    &__balance__amount {
      font-weight: 300;
      font-size: 18pt;
      font-variant-numeric: tabular-nums;
      letter-spacing: 0.1ch;
      color: $text-black-high-emphasis;
    }

    &__balance__asset-code {
      @extend %asset-code;
    }

    &__connector-icon {
      width: 80px;
      position: absolute;
      right: $card-inner-padding;
      bottom: $card-inner-padding;
      user-select: none;
      -webkit-user-drag: none;
    }
  }

  &__back {
    padding: 20px 0 10px 0;
    transform: rotateY(180deg);
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;

    &__stripe {
      height: 40px;
      background: #dfdfdf;
    }

    &__actions {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(auto-fit, 90px);
      justify-content: center;
    }
  }

  &--flipped {
    transform: rotateY(180deg);
  }

  &--eth {
    #{ $self }__front {
      background-image: url('~@/assets/ethereum-logo.svg');
      background-position: -35px top;
      background-size: 180px;
    }
  }

  &--btc {
    #{ $self }__front {
      background-image: url('~@/assets/lightning-logo.png');
      background-position: left -40px top -40px;
      background-size: 250px;
    }
  }

  $xrp-accent: #23292f;
  &--xrp {
    #{ $self } {
      &__front {
        background-color: $xrp-accent;
        background-image: url('~@/assets/xrp-logo.svg');
        background-position: left -54px center;
        background-size: auto 210px;

        &__balance {
          // Needs additional specificity to override previous style
          &__amount, &__asset-code {
            color: white;
          }
        }
      }

      &__back {
        background-color: $xrp-accent;

        &__stripe {
          background: black;
        }
      }
    }
  }
}
